/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3850827 */
  src: url('//at.alicdn.com/t/c/font_3850827_kd2p8r0sbdb.woff2?t=1672928633252') format('woff2'),
       url('//at.alicdn.com/t/c/font_3850827_kd2p8r0sbdb.woff?t=1672928633252') format('woff'),
       url('//at.alicdn.com/t/c/font_3850827_kd2p8r0sbdb.ttf?t=1672928633252') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}