$content-font-color: #333;
$content-bg-color:#f1f1f1;
$content-notice-fontcolor:#777777;
$btn-bg-color: #0091ff;

//别人自定义的
$dark-fontColor: #000;
$content-fontcolor: #333;
$medium-fontColor: #666;
$light-fontColor: #999;
$content-notice-fontcolor: #777;
$content-bgColor: #F1F1F1;
$search-bgColor: #F5F5F5;
$search-fontColor: #B7B7B7;
$hightlight-fontColor: #E93B3B;
$btn-bgColor: #0091FF;
$bgColor: #FFF;